/.bundle
/.bundle_home
/.bundle_user
/.env
/.env.*
!.env.example

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/public/packs

/node_modules
/coverage
.DS_Store
Thumbs.db
