services:
  web:
    build:
      context: .
    env_file:
      - .env
    environment:
      RAILS_ENV: production
      RAILS_LOG_TO_STDOUT: "1"
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    ports:
      - "3000:80"
    volumes:
      - rails_storage:/rails/storage

volumes:
  rails_storage:
